/* Responsive para pantallas 1280px 992px 768px 640px 480px 320px */

/* Home */

@media screen and (max-width: 1280px) {
    .promocionesHomeContainer .btnPromocion {
        right: 10%;
    }
}

@media screen and (max-width: 992px){
    .uniformesHomeContainer {
        margin-bottom: 60px;
    }
    .uniformesHomeContainer .imgUniformeHome {
        height: 250px;
        width: 250px;
    }

    .uniformesHomeContainer .imgUniformeHome .bkguniforme {
        display: none;
    }

    .uniformesHomeContainer .uniforme-terpel {
        background: url(../images/uniformesTerpelHome.png) center no-repeat;
        background-size: cover;
    }

    .uniformesHomeContainer .uniforme-altoque {
        background: url(../images/uniformesAltoqueHome.png) center no-repeat;
        background-size: cover;
    }

    .uniformesHomeContainer .uniforme-gazel {
        background: url(../images/uniformesGazelHome.png) center no-repeat;
        background-size: cover;
    }

    .promocionesHomeContainer .btnPromocion {
        right: 2%;
        top: -70px;
    }

    .uniformesHomeContainer img {
        display: none;
    }

    .uniformesHomeContainer .ver-mas {
        color: #D91C24;
        margin-top: 0;
    }

    .promocionesHomeContainer .bx-viewport{
        overflow: hidden !important; 
    }
    .usuarioDropdownMobile {
        width: 97vw;
        margin-top: 119px;
        right: 0 !important;
    }

    .promocionesHomeContainer .bx-wrapper .img-producto {
        max-width: 80% !important;
        margin-top: 45px;
    }

    .promocionesHomeContainer .imgProductoPromocion {
        background-color: transparent;
    }

    .promocionesHomeContainer .btnPromocion {
        font-size: 24pt;
        width: 120px;
        height: 120px;
        top: -50px;
    }

    .bx-wrapper .bx-pager {
        display: none;
    }

    .cajaProductoBorderRadiusGris .verDetalle:hover {
        background-color: transparent;
        color: #D91F24;
    }

    .cajaProductoBorderRadiusGris .footerVistosReciente svg:hover {
        fill: transparent;
    }
}

@media screen and (max-width: 991px) {
    .footer .footerTop .logo-footer, .footer .footerTop .ptp-logo  {
        margin: 0 auto;
    }

    .footer ul {
        display: none;
    }

    .footer h3 {
        padding: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .uniformesHomeContainer .imgUniformeHome {
        height: 200px;
        width: 200px;
    }  

    .promocionesHomeContainer .btnPromocion {
        right: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bx-wrapper {
        max-width: 680px !important;
        width: 100%;
    }

    ul.bxslider > li {
        width: 320px !important;
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: none;
    }

    .uniformesHomeContainer .uniformeTerpelHome, .uniformeAltoqueHome, .uniformeGazelHome {
        margin-top: 30px
    }

    .uniformesHomeContainer .imgUniformeHome {
        height: 300px;
        width: 300px;
    }  

    .bx-wrapper {
        max-width: 360px !important;
        width: 100%;
    }

    .usuarioDropdownMobile {
        width: 93vw;    
    }

    .uniformesHomeContainer > .row {
        margin-left: 0 !important;
        margin-right: 0 !Important;
    }

    .vistosRecienteContainer {
        margin-top: -30px;
    }

    .promocionesHomeContainer .btnPromocion {
        font-size: 18pt;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 400px) {
    ul.bxslider > li {
        width: 320px !important;
    }   
}
/* End Home */

/* Error 404 */
@media screen and (max-width: 400px) {
    .errorContainer > h4, .errorContainer > h2, .errorContainer > p {
        margin: 0 15px;
    }
}
/* End error 404 */

/* Cambiar Contraseña */

@media screen and (max-width: 767px) {
    .change-password-buttons .btnRedFill, .btnRed {
        max-width: 100%;
    }    

    .change-password-buttons {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;    
    }

    .change-password-buttons .btnRed {
        margin-left: 0;
        margin-right: 0;
        margin-top: 25px;
    }
}

/* End cambiar Contraseña */

/* Revisión de la compra */

@media screen and (max-width: 1200px) {
    .resumenCompraCheckout ul {
        margin: 0;
        padding: 0;
    }

    .resumenCompraCheckout button {
        width: 100%;
        padding: 15px 0 12px;
        font-size: 10pt;
        margin: 20px 0;
    }
}

@media screen and (max-width: 992px) {
    .checkoutContainer {
        padding-right: 0;
    }    
}

@media screen and (max-width: 767px) {
    .checkoutContainer {
        margin-bottom: 0;
    }
    .checkoutContainer h4 {
        padding: 0 25px;
    }

    .steps-checkout {
        display: none;
    }
    
    .checkoutContainer .stepsCheckout {
        padding-top: 15px;
    }

    .steps-act {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        display: block;
        margin: 0 auto;
        padding-top: 25px;
        width: 80%;
    }

    .numberStep.separator:after {
        display: none;
    }

    .productosCheckout {
        padding: 20px 60px;
    }
    
    .productoCheckout {
        position: relative;
    }
    
    .productoCheckout .nameProduct {
        font-size: 14pt;
        padding: 10px 0 0px;
        text-align: center;
    }
    
    .productoCheckout .outProduct {
        position: absolute;
        top: 10px;
        right: -30px;
        width: 80px;
    }
    
    .select-size {
        margin-bottom: 25px;
    }
    
    .productoCheckout h5, .productoCheckout p {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .pagination > li {
        display: none;
    } 
    
    .pg-right-arr, .pg-left-arr, .paginator-active {
        display: inline-block !important;    
    }
}

/* End Revisión de la compra */